SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=hello@clicom.ch
SMTP_PASSWORD=
EMAIL_FROM=CLICOM <hello@clicom.ch>
PUBLIC_CALENDLY_URL=https://calendly.com/hello-clicom
PUBLIC_WHATSAPP_NUMBER=41788238950
PUBLIC_GTM_ID=
EMAIL_TO=hello@clicom.ch
